
<ul id="slide-out" style="position: fixed" class="side-nav full">
    
    <li><a href="/extraHours" class="waves-effect waves-light btn"><i class="tiny material-icons ">add</i>Horas Extras</a></li>
    <li><a href="/companies/list" class="waves-effect waves btn"><i class="tiny material-icons ">add</i>Empresas </a> </li>
    <li><a href="/payroll-deductions" class="waves-effect waves btn"><i class="tiny material-icons ">add</i>Deducciones</a> </li>
</ul>
  <a href="#" data-activates="slide-out" class="button-collapse">
      <i class="small material-icons"></i></a>

  <!-- <script>
  $(document).ready(function(){
    $(".button-collapse").sideNav();
})</script> -->