/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */
/* .bg-3 { 
  background-color: #ffffff;
  color: #555555;
} */
/* .container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
} */
/* .navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
} */
/* .navbar-nav  li a:hover {
  color: #1abc9c !important;
}
.active>a {
color: #1abc9c !important;;
} */

$sidenav-bg: #151515;
$sidenav-color: rgba(255,255,255,0.5);
$sidenav-divider: rgba(255,255,255,0.2);

.sidenav {
	&.dark {
		background-color: $sidenav-bg;
		color: $sidenav-color;
		.subheader {
			color: $sidenav-color;
		}
		.divider {
			background-color: $sidenav-divider;
		}
		li {
			a {
				color: $sidenav-color;
				i.material-icons {
					color: $sidenav-color;
				}
			}
		}	
	}
}


















nav, header, main, footer {padding-left: 300px;} @media only screen and (max-width : 992px) {nav, header, main, footer {padding-left: 0;}}